[submodule "001_bacteria"]
	path = 001_bacteria
	url = https://github.com/aith/bacteria

[submodule "002_snakeskin"]
	path = 002_snakeskin
	url = https://github.com/aith/sketch_of_snakeskin.git

[submodule "003_seasontiles"]
	path = 003_seasontiles
	url = https://github.com/aith/seasontiles.git

[submodule "004_old_tower"]
	path = 004_old_tower
	url = https://github.com/aith/old_tower.git

[submodule "005_noisemap"]
	path = 005_noisemap
	url = https://github.com/aith/noisemap.git

[submodule "006_phone_a_lighthouse"]
	path = 006_phone_a_lighthouse
	url = https://github.com/aith/phone-a-lighthouse.git

[submodule "007_worleypool"]
	path = 007_worleypool
	url = https://github.com/aith/worley-pool.git

[submodule "008_small_pig_big_mud"]
	path = 008_small_pig_big_mud
	url = https://github.com/aith/small-pig-big-mud.git

[submodule "009_pocket_roguelike"]
	path = 009_pocket_roguelike
	url = https://github.com/aith/pocket-roguelike

[submodule "010_subdivine_earth"]
	path = 010_subdivine_earth
	url = https://github.com/aith/subdivine_earth

[submodule "011_chaikin_scratch"]
	path = 011_chaikin_scratch
	url = https://github.com/aith/chaikin_scratch

[submodule "012_triangle_stencils"]
	path = 012_triangle_stencils
	url = https://github.com/aith/triangle-stencils

[submodule "013_eye_of_the_storm"]
	path = 013_eye_of_the_storm
	url = https://github.com/aith/eye-of-the-storm

[submodule "014_onset_insomnia"]
	path = 014_onset_insomnia
	url = https://github.com/aith/onset-insomnia

[submodule "015_cyclic_dungeon_generator"]
	path = 015_cyclic_dungeon_generator
	url = https://github.com/aith/cyclic-dungeon-generator

[submodule "016_easel_monkeys"]
	path = 016_easel_monkeys
	url = https://github.com/aith/easel-monkeys

# [submodule ""]
# 	path = 
# 	url = 
